    @if(headingview){
    <h1>
        Portfolio
    </h1>
}
    @if(!sumbitted ){
    <ng-container>
        <h2>
            Personal Information 
        </h2>
        <form>
            <div>
                <label for="name"> Name</label>
                <input type="text" name="name" id="name" [(ngModel)]="nm"/>
            </div>
            <div>
                <label for="email"> Email</label>
                <input type="email" name="email" id="email" [(ngModel)]="em"/>
            </div>
            <div>
                <label for="phone"> Phone</label>
                <input type="tel" name="phone" id="phone" [(ngModel)]="ph"/>
            </div>
            <div>
                <label for="adress"> Adress</label>
                <input type="text" name="adress" id="adress" [(ngModel)]="add"/>
            </div>
        </form>
    </ng-container>
    
    <ng-container>
        <h2>
     Qualification
        </h2>
        @for (qua of qualification; track qua;let idx = $index){
            <p>Qualification{{$index+1}}</p>
        <form>
            
        
                
            <div>
                <label for="school"> School/College</label>
                <input type="text" name="school" id="school"[(ngModel)]="qua.school"/>
            </div>
            <div>
                <label for="degree"> Degree</label>
                <input type="text" name="degree" id="degree" [(ngModel)]="qua.degree"/>
            </div>
            <div>
                <label for="year"> Year</label>
                <input type="text" name="year" id="year" [(ngModel)]="qua.year"/>
            </div> 
            <!-- <h3>Qualification{{$index+1}}</h3> --> 
         

        </form>
    }
        <div class="btn-container">
            <button (click)="addQualification()">Add Qualification</button>
            <button type="submit" (click)="submitBut()">Submit</button>
        </div>
    </ng-container>
    }

    

<ng-template>
    <div class="preview-container" #preview>
        <h2>Preview</h2>
        <div>
            <P>{{nm}}</P>
            <P>Email:{{em}}</P>
            <P>Phone:{{ph}}</P>
            <P>Adress:{{add}}</P>
        </div>
        <div>
            <h3>Qualification</h3>
            <div>
                @for (q of qualification; track q){
                <h5>
                    School/College:{{q.school}}
                </h5>
                <h5>Degree:{{q.degree}} {{q.year}}</h5>
                
            }
            </div>
        </div>
        <button class="btn-edit" (click)="editbutton()">Edit</button>
    </div>
</ng-template>
